@charset "utf-8";
/* CSS Document */

body{
/*    font-family: calibri;*/
/*font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;*/
font-family: Verdana, sans-serif, Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
/*font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;*/
margin:0;
color:#313131;
}

img{
outline:none;
border-style:none;
}

div a{
    color:blue;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

div a:visited{
    color:blue;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
div a:hover {
    color: #F5A862;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*****HEADER*****/
header{
    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
}
header h1{
    font-size:200%;
    font-weight:bold;
    color:#000080;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #313131;
    border-radius: 5px;
    letter-spacing: 3px;
    float: left;
}
header p{
    font-size:100%;
    color:#313131;
    float: left;
}

/*****BRANDING*****/
#branding{
    display: block;
    width: 60%;
    margin-left: 20%;
    overflow: hidden;
    background-color: #313131;
    margin-bottom: 20px;
    letter-spacing: 10px;
    line-height: 100px;
}
#branding p{
    color: #fff;
    font-size: 120%;
    padding-left: 3%;
}

/***** date & version *****/
#date_version{
    display: block;
    width: 15%;
    margin-left: 20%;
    overflow: hidden;
    background-color: #ffffff;
    margin-bottom: 20px;
    letter-spacing: 10px;
    /*line-height: 100px;*/
    float: right;
}
#date_version p{
    color: #fff;
    font-size: 120%;
    padding-left: 3%;
}

/*****ARTICLE*****/
section{
    display: block;
    width: 100%;
/*    margin: 20px auto;*/
    margin-left: 50px;
    overflow: hidden;
}
article{
    font-size: 100%;
    /*width: calc(90% - 10px);*/
    width: 80%;
    padding: 2%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    overflow: hidden;
    float: left;
}
/*
article:nth-child(2n){
    margin-left: 30px;
}
*/
article .date{
    font-size: 60%;
    color: orange;
    border: 1px solid orange;
    padding-top:3px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
    letter-spacing: 5px;
    float: left;
}
article h1{
    width: 100%;
    font-size: 150%;
    font-weight:bold;
    color: #313131;
    letter-spacing: 3px;
    padding-bottom:2px;
    padding-top: 5px;
    border-bottom: 1px solid #ababab;
    margin-bottom: 8px;
    float: left;
}
article p{
    font-size: 100%;
    color: #313131;
    /*letter-spacing: 3px;*/
    /*line-height: 200%;*/
    padding:  10px;            /* 余白指定 */
    margin-left: 10px;
    margin-bottom: 5px;
/*    float: left;*/
    clear: both;
}

article .btn{
    color: #fff;
    border: 1px solid orange;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    letter-spacing: 5px;
    text-decoration: none;
    overflow: hidden;
    float: right;
}
article .btn:hover{
    background-color: #fff;
    border: 1px solid orange;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: orange;
    overflow: hidden;
}

footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8022e0;
}
footer address{
    color: #fff;
    letter-spacing: 5px;
}

article .flex_test-box {
    background-color: #f9f9f9;  /* 背景色指定 */
    padding:  10px;            /* 余白指定 */
    display: flex;              /* フレックスボックスにする */
}
article .flex_test-item {
    padding: 10px;
    color:  #313131;               /* 文字色 */
    /*margin:  10px;*/              /* 外側の余白 */
    /*border-radius:  5px;*/        /* 角丸指定 */
}




/*****NAV*****/
nav{
    width: 70%;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    margin-bottom: 5px;
    margin-left: 10%;
    /*overflow: hidden;*/
}


nav li{
    width: calc(25% - 2px);
    width: 135px;               /* サブメニュー1項目の横幅(135px) */
    font-size: 110%;
/*    letter-spacing: 5px;
    font-weight: 400;
    line-height: 45px;
    border-left: 1px solid orange;
    color: #313131;
    cursor: pointer;
    text-align: center;
    float: left;
*/
    display: inline-block; /* ★横並びに配置する */
    list-style-type: none; /* ★リストの先頭記号を消す */
    position: relative;    /* ★サブメニュー表示の基準位置にする */
    
}

nav a {
   color: #000080;              /* メニュー項目の文字色(白色) */
   line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
   text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
   font-weight: bold;         /* 太字にする */
   display: block;            /* ★項目内全域をリンク可能にする */
}
nav a:hover {
   background-color: #ffcc00; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
   color: white;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

nav li:hover ul {
   display: block;      /* ★マウスポインタが載っている項目の内部にあるリストを表示する */
}

/* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
nav ul{
   margin: 0px;         /* ★サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★サブメニュー内側の余白(ゼロ) */
   display: none;       /* ★標準では非表示にする */
   position: absolute;  /* ★絶対配置にする */
}

/* ------------------------ */
/* ▼サブメニュー項目の装飾 */
/* ------------------------ */
nav ul li {
    width: 135px;               /* サブメニュー1項目の横幅(135px) */
    border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
nav ul li a {
   line-height: 35px;     /* サブメニュー1項目の高さ(35px) */
   text-align: left;      /* 文字列の配置(左寄せ) */
   padding-left: 5px;     /* 文字列前方の余白(5px) */
   font-weight: normal;   /* 太字にはしない */
   background-color: #ffffff; /* バーの背景色(濃い赤色) */
}
nav ul li a:hover {
   background-color: #ffcc00; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
   color: white;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}

/*
nav li:last-child{
    border-right: 1px solid orange;
}

nav li:hover{
    background-color: orange;
    transition: background-color 0.5s ease-out;
    color: #fff;
}
*/

/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.ddmenu {
    width: 60%;
   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
   margin-left: 20%;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
   background-color: #ffffff; /* バーの背景色(濃い赤色) */
}

/* -------------------------- */
/* ▼メインメニュー項目の装飾 */
/* -------------------------- */
ul.ddmenu li {
   width: 125px;          /* メニュー項目の横幅(125px) */
   display: inline-block; /* ★横並びに配置する */
   list-style-type: none; /* ★リストの先頭記号を消す */
   position: relative;    /* ★サブメニュー表示の基準位置にする */
}
ul.ddmenu a {
   background-color: #cc0000; /* メニュー項目の背景色(濃い赤色) */
   color: white;              /* メニュー項目の文字色(白色) */
   line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
   text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
   font-weight: bold;         /* 太字にする */
   display: block;            /* ★項目内全域をリンク可能にする */
}
ul.ddmenu a:hover {
   background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
   color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

/* ---------------------------------- */
/* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
/* ---------------------------------- */
ul.ddmenu li:hover ul {
   display: block;      /* ★マウスポインタが載っている項目の内部にあるリストを表示する */
}

/* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
ul.ddmenu ul {
   margin: 0px;         /* ★サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★サブメニュー内側の余白(ゼロ) */
   display: none;       /* ★標準では非表示にする */
   position: absolute;  /* ★絶対配置にする */
}

/* ------------------------ */
/* ▼サブメニュー項目の装飾 */
/* ------------------------ */
ul.ddmenu ul li {
   width: 135px;               /* サブメニュー1項目の横幅(135px) */
   border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
ul.ddmenu ul li a {
   line-height: 35px;     /* サブメニュー1項目の高さ(35px) */
   text-align: left;      /* 文字列の配置(左寄せ) */
   padding-left: 5px;     /* 文字列前方の余白(5px) */
   font-weight: normal;   /* 太字にはしない */
}
ul.ddmenu ul li a:hover {
   background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
   color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}


.photo_ble_clock {
    text-align:center;
}
